.h1{background-color:yellow;color:purple; border:1px solid black;}
h2{color:purple;}
.one{text-decoration: overline; color:purple;}
body{background-color:lightblue;}
.t{border:6px solid gray;}
input{border:5px solid  maroon; }
button{border:5px solid maroon;}

h5 {background-color:yellow;}
textarea{border:7px dashed blue;}